.horizontal{
    display: flex;
    padding: 0 $m-size;
    &--white-background {
        background: $off-white;
    }
}

.vertical {
    display: flex;
    padding: 0 $m-size;
    flex-direction: column;
    &--white-background {
        background: $off-white;
    }
}